.container
  %ul
    %li id: #{@user.id}
    %li name: #{@user.name}
    %li username: #{@user.username}
    %li email: #{@user.email}
    %li weibo token: #{@user.weibo_access_token}
    %li weibo uid: #{@user.weibo_uid}
    %li renren token: #{@user.renren_access_token}
    %li facebook token: #{@user.facebook_access_token}
    %li current log in at: #{@user.current_login_at}
    %li last log in at: #{@user.last_login_at}