.container
  = form_for([:admin, @r], :html => {:class => "form-horizontal"}) do |f|
    .form-group
      = f.label 'name'
      = f.text_field :name, :class => "form-control"
    .form-group
      = f.label 'English name'
      = f.text_field :secondary_name, :class => "form-control", :placeholder => "optional"
    .form-group
      = f.label 'category'
      = f.select :category, options_for_select(Category.all.map(&:name), @r.category), {}, :class => 'form-control'
    .form-group
      = f.label 'address'
      = f.text_field :address, :class => "form-control"
    .form-group
      = f.label 'city'
      = f.select :city_name, options_for_select(City.all.map(&:name), @r.city_name), {}, :class => "form-control"
    .form-group
      = f.label 'description'
      = f.text_field :description, :class => "form-control", :placeholder => "optional"
    .form-group
      = f.label 'labels'
      = f.text_field :labels, :class => "form-control", :placeholder => "optional, separated with comma"
    .form-group
      = f.submit "save", :class => "btn btn-primary"
      %a.btn{:href => "/admin/restaurants"} cancel
    